/* td {
  border: 10px solid rgb(0, 0, 0);
} */

#goButton {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    background-color: rgb(107, 226, 133);
  font-size: 25px;
}


body {
  background-color: darkgray;
}



td {
  /* border: 1px solid black; */
  width: 75px;
  height: 75px;
  background-color: #96D4D4;
}
